<div class="itembox">
  <h3 class="subtitle">About us</h3>
  <p class="center_p">We are a dope company. We strive to give you the best possible experience when shopping so much so that we're going to use meat flavored ipsum for the rest of this blurb. Andouille burgdoggen bacon meatloaf pork belly ham hock ribeye. Pancetta ribeye brisket porchetta t-bone. Filet mignon boudin doner bresaola meatloaf sausage. Filet mignon tail pork chop, swine beef ribs tenderloin picanha ribeye pork capicola burgdoggen doner biltong. Shoulder landjaeger rump ball tip doner kielbasa hamburger shankle.</p>
  <p class="center_p"><%= link_to "See all of our products!", products_path %></p>
</div>


<div class="grid_containment">
  <div class="itembox">
    <h3 class="subtitle">Fresh Items</h3>
    <br>
    <%= render "layouts/display_products_no_price", :products => @recent_products %>
  </div>

  <div class="itembox">
    <h3 class="subtitle">Most Reviewed Items</h3>
    <br>
    <%= render "layouts/display_products_no_price", :products => @most_reviewed %>
  </div>

  <div class="itembox">
    <h3 class="subtitle">Locally Made</h3>
    <br>
    <%= render "layouts/display_products_no_price", :products => @usa_products %>
  </div>

</div>