<!-- <h2>Products Home</h2> -->
<div class="itembox">
<p class="center_p">Here at <em>Ultimate Review Aggregator</em> we strive to provide totally biased reviews on the greatest array of random products you'll never use. Don't see something you want?</p>
<h2 class="center_p"><%= link_to "Create new product!", new_product_path %></h2>
</div>

<div class="itembox">
  <h3 class="subtitle">Everything in Stock:</h3>
  <hr>
  <%= render "layouts/display_products", :products => @products %>
  <hr>
</div>
